<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="theme-color" content="#ffd800"/>
    <title>Restaurant Apps Starter Project</title>
</head>
<body>
    <a href="#content" class="skip-link">Menuju ke konten</a>
<header>
    
    <nav>
        <h1>
           <a href="index.html">Food War</a> 
        </h1>
        <button id="menu_drawer"  tabindex="0">☰</button>
          <ul class="drawer">
              <li><a href="/#/">Home</a></li>
              <li><a href="/#/favorite">Favorite</a></li>
              <li><a href="https://www.linkedin.com/in/randhypi">About</a></li>
          </ul>  
    </nav>
   
    <h2>eat the halal and thoyyib</h2>
</header>

<main>
    <section id="content"></section>
</main>
<footer>
   <h3>“Copyright © 2021 - Food War Apps”.</h3> 
</footer>
</body>
</html>
