@media screen and (max-width: 900px) {

    food-list {
        padding: 0 20px;
        display: grid;
        grid-template-columns: 1fr 1fr !important;

    }

    food-item .post_deskripsi {
        padding: 10px 15px !important;
    }

    food-item p {
        font-size: 1em;
        text-align: justify;
        word-spacing: 0.5px;
        line-height: 1.5;
    }

    /* Detail */
    /* Detail */
    .detail {
        position: relative;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        width: 80% !important;
        border-radius: 5px;
        overflow: hidden;
    }



    .detail .post_item_thumbnail {
        height: 50%;
    }

    .detail .post_item_kota {
        border-radius: 0 60px 60px 0;
        padding: 10px;
        width: fit-content;
        padding-right: 40px;
        background-color: aquamarine;
        position: absolute;
        line-height: 0.5;
        top: 10px;
        left: 0;
    }

    .detail .post_deskripsi {
        margin: 0;
        padding: 20px 32px;
    }


    .detail .post_deskripsi h2 a {
        display: block;
        min-width: 44px;
        min-height: 44px;
        text-decoration: none;
        color: black;
    }

    .detail .post_item_rating {
        font-size: 1em;
        width: fit-content;
    }

    .detail p {
        font-size: 1.2em;
        text-align: justify;
        word-spacing: 1px;
        line-height: 1.5;
    }

}


@media screen and (max-width: 650px) {

    food-list {
        padding: 0 20px;
        display: grid;
        grid-template-columns: 1fr !important;

    }



    .detail .post_item_kota h3 {
        font-weight: bold !important;
        font-size: 1em !important;
    }

    .detail .post_item_kota h4 {
        font-weight: normal !important;
        font-size: 1em !important;
    }

}


@media screen and (max-width: 605px) {

    header {
        color: whitesmoke;
        background-image: url("../public/images/heros/hero-image_4-small.jpg") !important;
        height: 300px !important;
        background-size: cover;
        background-blend-mode: saturation;
    }

    header h2 {
        font-size: 2em !important;
        margin: 100px auto !important;
    }

    nav {
        position: relative;
    }

    nav h1 {
        margin-left: 80px;
        text-align: center;
        width: 44px !important;
        height: 44px !important;
        width: fit-content !important;
        position: absolute;
        left: 28%;
    }

    nav #menu_drawer {
        width: fit-content;
        display: block !important;
        font-size: 2.5em;
    }


    nav ul li {
        background-color: transparent;
        text-align: center;
        margin: 200px 0;
        display: list-item !important;
    }

    nav ul {
        display: list-item;
        z-index: 10;
        background-color: #24292E;
        width: 100%;
        position: absolute;
        left: 0;
        top: 50px;
        /* This trasform moves the drawer off canvas. */
        -webkit-transform: translate(-110%, 0);
        transform: translate(-110%, 0);

        /* Optionally, we animate the drawer. */
        transition: transform 0.0s ease;
    }

    nav ul li {
        display: list-item;
    }


    .open {
        display: block;
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }

    .detail .menus-detail {
        display: block !important;
    }

    .detail .post_item_kota h3 {
        font-weight: bold !important;
        font-size: 0.7 !important;
    }

    .detail .post_item_kota h4 {
        font-weight: normal !important;
        font-size: 0.7 !important;
    }
}

@media screen and (max-width: 430px) {
    nav h1 {
        text-align: center;
        width: 44px !important;
        height: 44px !important;
        width: fit-content !important;
        position: absolute;
        left: 20% !important;
    }
}